.App {
  align-items: center;
}
.cloud-header {
  background-color: #FFB3C6;
  padding: 40px;
  clip-path: ellipse(50% 40% at 50% 50%);
}
.bar-window
{
  color: white;
  margin-left:20px;
  padding: 10px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:1440px;
  border-radius:10px;
}